header.main-header
  .container-fluid
    nav.navbar.navbar-expand-xl.px-0
      .d-flex.w-100
        a.navbar-brand.p-0(href='#')
          img(src="dist/images/logo.png" alt="")
        button.navbar-toggler.ml-auto(type='button' data-toggle='slide-collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          <i class="fas fa-bars"></i>
      #navbarSupportedContent.collapse.navbar-collapse
        a.mobile-logo.px-3.mb-3.d-inline-block(href="#")
          img(src="dist/images/logo.png" alt="")
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.active(href='#')
              | Home 
          li.nav-item
            a.nav-link(href='#') About Us
          li.nav-item
            a.nav-link(href='#') Pastor
          li.nav-item
            a.nav-link(href='#') MINIstries
          li.nav-item
            a.nav-link(href='#') EVENTS
          li.nav-item
            a.nav-link(href='#') Sermons
          li.nav-item
            a.nav-link(href='#') Contact
          li.nav-item
            a.nav-link(href='#') GIVE           
